@import url('https://fonts.cdnfonts.com/css/random-grotesque-standard?styles=138799');

.body {
  margin: 0;
  background: #f0f0f0;
}

.gradient {
  background: linear-gradient(
    180deg,
    #3458ff 25.31%,
    rgba(179, 255, 209, 0.9) 36.76%,
    #f0f0f0 53.96%
  );
  background-size: 100% 200%;
  /* height: 100px; */
  animation: AnimationName 10s ease-in-out infinite;
  /* padding: 170px 0 0; */
  height: 447px;
}

.container {
  margin: 20px 20px 20px;
  border-radius: 10px;
  background: #fff;
  max-width: 1200px;
  padding: 60px 20px 60px;
}

@keyframes AnimationName {
  0% {
    background-position: 52% 10%;
  }
  65% {
    background-position: 50% 40%;
  }
  100% {
    background-position: 52% 10%;
  }
}

.header {
  padding: 60px 0 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-container {
  border-radius: 10px;
  background: #3458ff;
  max-width: 1120px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 11px 20px 11px;
}

@media all and (max-width: 1199px) {
  .header-container {
    margin: 0 20px 0;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: opacity 1s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo-img {
  width: 89px;
  height: 34px;
}

@media all and (max-width: 1014px) {
  .header__logo-img {
    width: 70.68px;
    height: 27px;
  }
}

.header__logo-title {
  width: 141px;
  height: 38px;
}

@media all and (max-width: 1014px) {
  .header__logo-title {
    width: 100.184px;
    height: 27px;
  }
}

.hamburger-menu {
  display: none;
  margin-right: 10px;
}

.header__nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 820px;
  margin-left: 60px;
}

@media all and (max-width: 1150px) {
  .header__nav-bar {
    margin-left: 20px;
  }
}

@media all and (max-width: 900px) {
  .header__nav-bar {
    display: none;
  }
}

.header__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity 1s ease-in-out;
}

.header__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media all and (max-width: 1100px) {
  .header__link {
    font-size: 16px;
  }
}

.header__square-pic {
  width: 440px;
  height: 100vh;
  /* display: none; */
  visibility: hidden;
  background: linear-gradient(345deg, #3458ff 3%, #b3ffd1 45%, #f0f0f0 83.3%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 650px) {
  .header__square-pic {
    width: 100vw;
  }
}

.header__mob-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 205px;
  margin-top: 60px;
}

.menu__active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

input[type='checkbox']:checked ~ .header__square-pic {
  display: block;
}

.burger {
  display: none;
}

@media all and (max-width: 900px) {
  .burger {
    z-index: 45;
    display: flex;
    align-items: center;
  }
}

.burger_type_blue {
  display: none;
}

/* .burger_type_white {
  display: none;
}  */

.burger_type_none {
  display: none;
}

.burger_type_block {
  display: block;
}
/* 
.header__link:hover {
  opacity: 0.8;
  text-decoration: underline;
} */

.header__link_type_mob-container{
  text-decoration: none;
}

.header__link_type_mob {
  margin: 0;
  padding: 0;
  color: #3458ff;
  font-family: Random Grotesque Standard Book;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.header__link_type_mob:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media all and (max-width: 650px) {
  .header__link_type_mob {
    font-size: 20px;
    line-height: 20px;
  }
}

.publication__margin {
  margin: -227px auto 0;
  max-width: 1200px;
}

.publication__container {
  margin: 0 20px 0;
}

.publication__title {
  margin: 0;
  padding: 0;
  color: #3458ff;
  font-family: Random Grotesque Standard Book;
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 121.951% */
}

.publication__tags {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 940px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.publication__tag {
  margin: 60px 0 120px;
  border-radius: 5px;
  border: 2px solid #3458ff;
  background: #fff;
  display: flex;
  padding: 15px 15px 14px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #3458ff;
  font-family: Random Grotesque Standard Book;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.publication__tag:hover {
  /* opacity: 0.1; */
  /* transition: opacity 1s ease-in-out; */
  border-radius: 5px;
  background: #3458ff;
  display: flex;
  padding: 15px 15px 14px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
}

.publication__tag:active {
  border-radius: 5px;
  background: #3458ff;
  display: flex;
  padding: 15px 15px 14px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
  transition: opacity 1s ease-in-out;
}

.publication__tag:active:hover {
  opacity: 0.8;
}

.publication__article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid #3458ff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* .publication__article:last-child {

  border-bottom: none;
  padding-top: 0;
  margin-bottom: 0;
} */

.publication__type {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 5px;
  background: #3458ff;
  width: max-content;
}

.publication__type-text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.publication__link-container {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  transition: opacity 1s ease-in-out;
}

.publication__link-container:hover {
  opacity: 0.8;
}

.publication__title {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Random Grotesque Standard Book;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  max-width: 840px;
  font-kerning: none;
}

.publication__arrow {
  margin: 0;
  padding: 0;
  color: #3458ff;
  text-align: right;
  font-family: Random Grotesque Standard Book;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 80% */
}

.publication__authors {
  display: flex;
  max-width: 840px;
  flex-wrap: wrap;
  row-gap: 3px;
}

.publication__author-link {
  text-decoration: none;
  transition: opacity 1s ease-in-out;
}

.publication__author-link:hover {
  opacity: 0.8;
}

.publication__author {
  margin: 0;
  padding: 0;
  color: #3458ff;
  font-family: Random Grotesque Standard Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-decoration: none;
  transition: opacity 1s ease-in-out;
}

.publication__coma {
  margin: 0;
  padding: 0;
  color: #3458ff;
  font-family: Random Grotesque Standard Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.publication__date {
  margin: 0;
  padding: 0;
  color: #969696;
  font-family: Random Grotesque Standard Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.publication__magazine {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Random Grotesque Standard Book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  max-width: 840px;
}

/* .publication__devider {
  width: 100%;
  border: 1px solid #3458ff;
  margin: 30px 0 30px;
  padding: 0;
} */

.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__container {
  background: #3458ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 830px;
  margin: 0 0 60px;
}

@media all and (max-width: 650px) {
  .footer__logo-container {
    flex-direction: column;
    row-gap: 10px;
    margin: 0 0 20px;
  }
}

.footer__logo-svg {
}

@media all and (max-width: 650px) {
  .footer__logo-svg_type_ec {
    width: 101px;
    height: 17px;
  }
}

@media all and (max-width: 650px) {
  .footer__logo-svg_type_logo {
    width: 44.5px;
    height: 17px;
  }
}

@media all and (max-width: 650px) {
  .footer__logo-svg_type_he {
    width: 95.5px;
    height: 21px;
  }
}

.footer__nav-bar {
  display: flex;
  width: 100%;
  max-width: 830px;
  justify-content: space-between;
}

@media all and (max-width: 650px) {
  .footer__nav-bar {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: opacity 1s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

@media all and (max-width: 900px) {
  .footer__link {
    font-size: 15px;
    line-height: 15px;
  }
}

.footer__devider {
  width: 100%;
  border: 1px solid #fff;
  margin: 30px 0 30px;
  max-width: 830px;
}

@media all and (max-width: 650px) {
  .footer__devider {
    margin: 20px 0 20px;
  }
}

.footer__subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-align: center;
}

/* @media all and (max-width: 650px) {
  .footer__subtitle {
    font-size: 15px;
    line-height: 15px;
  }
} */

.footer__contacts {
  display: flex;
  width: 100%;
  max-width: 830px;
  justify-content: space-between;
  margin: 20px 0 0;
}

@media all and (max-width: 900px) {
  .footer__contacts {
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0;
    gap: 10px;
  }
}

.footer__contact-text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Random Grotesque Standard Book;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media all and (max-width: 900px) {
  .footer__contact-text {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
  }
}


.hide {
  opacity: 1;
  animation: a1 1s ease-in-out forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    display: none;
  }
}